/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */

 html,
 body {
     font-family: "Source Sans Pro",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
 }
 
 /* div.classList.add("add-color");
 div.classList.remove("remove-color"); */

 /* .the-highlight-class {
    background-color: blueviolet;
 }
  */

 .yellow {
    background-color: yellow;
 }

 .green {
    background-color: green;
 }

 .blue {
    background-color: blue;
 }

 .lightblue {
    background-color: lightblue;
 }

 .lime {
    background-color: lime;
 }

 .coral {
    background-color: coral;
 }