/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

@keyframes li_border {
  0% {
    border-color: orangered;
  }

  20% {
    border-color: greenyellow;
  }

  40% {
    border-color: aqua;
  }

  60% {
    border-color: pink;
  }

  80% {
    border-color: yellow;
  }
}

.ul {
  padding: 10px;
  color: wheat;
}



#content input,
button {
  padding: 5px;
  font-size: 1.2rem;
  background: transparent;
  color: wheat;
  border-bottom: 2px solid wheat;
  margin: 10px;
}

button {
  background: rgb(255, 0, 106);
}

html,
body {
  font-family: "Source Sans Pro", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: rgb(27, 25, 25);
}

@keyframes header {
  0% {
    text-shadow: 0px 0px 0px white;
  }

  50% {
    text-shadow: 0px 0px 9px white;

  }

  100% {
    text-shadow: 0px 0px 0px white;

  }
}

.ul li {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 5px;
  border-bottom: 1px solid;
  animation: li_border 3s infinite;
  cursor: pointer;
  margin: 1em auto;

}

.body_header {
  color: rgb(255, 0, 106);
  text-align: center;
  margin: 1em auto;
  font-size: 4rem;
  animation: header infinite 2s;

}

.checked {
  text-decoration: line-through;
}

.site-footer {
  margin-top: 4em;
}

.site-footer p {
  border-top: 1px solid #dccdc6;
  padding-top: 2em;
  padding-bottom: 2em;
}

.navbar-brand>img {
  max-height: 40px;
  width: auto;
}

.navbar-light .navbar-nav .nav-link {
  color: #292b2c;
  font-weight: 600;
  text-transform: uppercase;
}

/* Buttons */
.btn {
  border-radius: 0.15em;
}

/* Alert */
.alert {
  position: relative;
  margin-top: 2em;
  margin-bottom: 3em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border: 1px solid #dccdc6;
  border-radius: 0;
  font-size: 0.85rem;
  line-height: 1.3em;
  background: transparent;
  color: #292b2c;
}

.alert:before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  height: 100%;
  width: 1px;
  background: #ce5f31;
}

/* Jumbotron */
.jumbotron {
  border-radius: 0;
}

/* Headings */
.heading-underline {
  position: relative;
  margin-bottom: 2em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dccdc6;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-underline:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 25%;
  height: 1px;
  max-width: 100px;
  background: #ce5f31;
}

/* Article */
.article {
  margin-bottom: 2em;
}

.article-title {
  margin-bottom: 0.5em;
  font-weight: 700;
}

.article-read-more a {
  font-size: 0.85em;
  font-weight: 700;
  text-decoration: uppercase;
}

.article-read-more a:hover,
.article-read-more a:focus {
  text-decoration: none;
}

.article-read-more .fa {
  margin-right: 0.5em;
  color: #ce5f31;
}

.article-read-more:last-child {
  margin-bottom: 0;
}

.red {
  background-color: red;
}

.addArticle {
  margin-bottom: 10px;
}

#addArticleBtn {
  margin-left: 20px;
  height: 37px;
}

.colorButton {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 100px;
  height: 50px;
}

#blueBtn {
  background: #588fbd;
}

#orangeBtn {
  background: #f0ad4e;
}

#greenBtn {
  background: #87ca8a;
}

#content {
  width: 40%;
  border: 2px solid wheat;
  margin: 1em auto;
}

@media screen and (min-width: 992px) {
  .navbar-brand>img {
    max-height: 80px;
  }
}