@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  background-color: hsl(0, 0%, 15%);
  color: hsl(0, 0%, 5%);
  font-family: "Indie Flower", serif;
  text-shadow: 0 0 0.1rem black;
  font-size: 1.3rem;
}

#content {
  max-width: 600px;
  padding: 2rem 2rem 4rem 2rem;
  border: 0.4rem solid orange;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 0.25rem solid hsl(60, 80%, 45%);
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 1rem black;
  background-color: hsla(0, 0%, 100%, 0.7);
  background-image: url("background.png")
}


h1 {
  font-size: 2.5rem;
  color: hsl(60, 100%, 50%);
  text-shadow: 0 0 0.1rem black;
}

.button-clean-the-page {
  padding: 0.5rem 1rem;
  border: 0.1rem solid hsl(0, 0%, 50%);
  border-radius: 0.5rem;
}

.option-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.option-description {
  font-weight: bold;
}

.option-drop-down {
  padding: 0.5rem 1rem;
  border: 0.1rem solid hsl(0, 0%, 50%);
  border-radius: 0.5rem;
}

.word {
  cursor: pointer;
}

.highlighted-none {
  background-color: none;
}

.highlighted-violet {
  background-color: hsl(300, 76%, 72%, 0.8);
}

.highlighted-indigo {
  background-color: hsl(275, 100%, 25%, 0.8);
}

.highlighted-blue {
  background-color: hsl(240, 100%, 50%, 0.8);
}

.highlighted-green {
  background-color: hsl(120, 100%, 25%, 0.8);
}

.highlighted-yellow {
  background-color: hsl(60, 100%, 50%, 0.8);
}

.highlighted-orange {
  background-color: hsl(39, 100%, 50%, 0.8);
}

.highlighted-red {
  background-color: hsl(0, 100%, 50%, 0.8);
}