body {
    background-image: url(assets/world.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: auto 100%;
  }

  .container {
    margin-top: 150px;
    width: 90%;
  }
  .done {
    text-decoration: line-through;
  }
  .todo-item {
    padding: 0.5rem 1rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    justify-content: space-between;
  }