/*  CSS classes to styles.css for these styles. - Reading list */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --primary: #ff0000; /* red :) */
  --secondary: #326513; /* green  */
  --accent: #ffff; /* white */
  --d-accent: #808080; /*grey */

  /* font */
  --font-primary: "Roboto", sans-serif;
}

html,
body {
  padding: 10px;
  margin: auto;
  font-family: var(--font-primary);
}

p {
  font-family: inherit;
  font-size: 32px;
  font-weight: bold;
  padding: 10px 0px;
  color: var(--accent);

  line-height: 1.4;
  text-align: center;
}

.redBackground {
  background-color: var(--primary);
  /* do this is javascript */
  text-align: center;
  width: 600px;
  margin: 10px;
  padding: 20px;
}

.greenBackground {
  background-color: var(--secondary);
  text-align: center;
  width: 600px;
  margin: 10px;
  padding: 20px;
}
