/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */
*{
  list-style-type: none
}
html,
body {
  font-family: "Source Sans Pro", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#content {
  display: flex;
  align-content: center;
  justify-content: center;
}
p {
  width: 600px;

}