/**
 * Base styles to use at the start of the class
 *
 * Module: HTML/CSS
 * Lesson: 1,2
 * Class: Scotland 2017
 */
img{
  width: 12rem;
}
li{

  margin-right: 2rem;
}
.read {
  background-color: green;
}

.not-read {
  background-color: red;
}