body {
  background-image: url(assets/leaves.jpeg);
}

.container {
  background-color: white;
  display: block;
  border-style: solid;
  border-color: green;
  margin-top: 150px;
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 1rem;
}

.btn {
  margin-bottom: 20px;
}

.Tries-output {
  color: crimson;
  padding-bottom: 10px;
  font-size: 1.2rem;
}
