body {
/*
  I really do not like this background
  background-image: url(assets/leaves.jpeg);
*/

  background-image: url(https://image.shutterstock.com/z/stock-photo-abstract-numbers-random-motion-graphite-color-1054823219.jpg)
}

.container {
  background-color: white;
  display: block;
  border-style: solid;
  border-color: green;
  margin-top: 150px;
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.btn {
  margin-bottom: 20px;
}
